---
- include: setup.yml
- include: config.yml
- include: ssl.yml
- include: plugins.yml

- name: Ensure Logstash is started and enabled on boot.
  systemd:
    name: logstash
    state: started
    enabled: {{ logstash_enabled_on_boot }}
    daemon_reload: yes
